.eox-page {
  margin: 0 auto 30px 25px;
  min-width: 600px;
  overflow: auto; }
  .eox-page img {
    -webkit-box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.6);
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding-top: 2px;
    width: auto; 
  }
}
